<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ScheduleEditorActivity"
            android:label="Edit Schedule"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".SwitchpointEditorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".WidgetBoostActivity"
            android:theme="@style/DialogActivityTheme"
            android:excludeFromRecents="true"
            android:exported="false" />

        <receiver
            android:name=".widget.EvohomeWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.yourname.evohomecontrol.ACTION_BOOST" />
                <action android:name="com.yourname.evohomecontrol.ACTION_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/evohome_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.Evohome4x2Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/evohome_widget_4x2_info" />
        </receiver>
        
        <activity
            android:name=".WidgetZoneEditActivity"
            android:theme="@style/DialogActivityTheme"
            android:excludeFromRecents="true"
            android:exported="false" />

        <activity
            android:name=".WidgetAwayModeActivity"
            android:theme="@style/DialogActivityTheme"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:exported="false" />

        <activity
            android:name=".WidgetWorkFromHomeActivity"
            android:theme="@style/DialogActivityTheme"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:exported="false" />

        <activity
            android:name=".WidgetReturnHomeActivity"
            android:theme="@style/DialogActivityTheme"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:exported="false" />

        <activity
            android:name=".WidgetLunchActivity"
            android:theme="@style/DialogActivityTheme"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:exported="false" />
            
    </application>

</manifest>